body {
    margin: 0;
    background-color: #282828;
  }
  
  .container {
    display: flex;
    position: relative;
    padding: 10px 100px;
    margin: 10px 200px;
  }
  
  .container div:nth-child(1),
  .container div:nth-child(2),
  .container div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d2d2d;
    height: 150px;
    width: 150px;
    color: white;
    box-shadow: -8px 8px 24px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    position: relative; /* Added position relative to ensure z-index works */
  }
  
  .container div:nth-child(1) {
    z-index: 1; /* Add a higher z-index to the first div */
  }
  
  .container div:nth-child(2) {
    z-index: 2; /* Add a higher z-index to the second div */
  }
  
  .container div:nth-child(3) {
    z-index: 3; /* Add a higher z-index to the third div */
  }
  
  .container div:hover {
    transform: rotate(10deg);
    z-index: 4; /* Add even higher z-index on hover to make the div appear above others */
  }
  